@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&display=swap");


.account{
	position: relative;
	top: 60px;
}
.account__body{
	margin: 20px 0 0 0;
}
.account__avatar{
	z-index: 5;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.account__avatar img{
	cursor: pointer;
	z-index: 2;
	width:inherit;
	height: inherit;
	border-radius: 50%;
	object-fit: cover;
}
.account__username{
	margin: 10px auto;
	font-weight: 700;
	font-size: 50px;
}
.account__online{
	font-size: 36px;
	margin: 0 auto;
}
.account__online-online{
	color:rgba(18, 131, 37, 0.767); 
}
.account__online-offline{
	color:rgba(184, 42, 42, 0.767);
}
.account__edit{
	cursor: pointer;
	width: 220px;
	background: #3a18032a;
	border-radius: 10px;
	margin: 10px auto;
	padding: 5px 10px;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
.account__columns{
	display: flex;

}
.account__column-left{
	flex: 1 0 40%;
}
.account__column{
	display: flex;
	flex-direction: column;

}
.account__column-right{
	flex: 1 0 60%;
}
@media (max-width: 650px){
	.account__column-left{
		flex: 1 0 100%;
	}
	.account__column-right{
		flex: 1 0 100%;
	}
	.account__columns{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
}