@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.navbar {
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 60px;
	background: #3a1803;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.navbar.active {
	overflow: auto;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #3a1803;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 5px 20px;
	animation: navbarActivation 0.3s forwards;
}
@keyframes navbarActivation {
	0%{
		width: 100%;
		height: 60px;
	}
	100%{
		width: 100%;
	height: 100%;
	}
}
.navbarContent{
	flex: 1 1 100%;
	margin: 0 auto;
	max-width: 1080px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.navbarContent.active{
	flex: 1 1 100%;
	margin:0 auto;
	max-width: 1080px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.navbarContent.auth{
	flex: 1 1 100%;
	margin: 0 auto;
	max-width: 1080px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbarLinks {
	display:flex;
	align-items:baseline;
}
.navbarLinks.active {
	position: absolute;
	top: 15%;
	left: 50%;
	align-items:center;
	transform: translate3d(-50%, 0, 0);
	flex-direction: column;
}
.navbarLogo{
	font-family: 'Marck Script', cursive;
	margin: 0 20px 0 0; 
	cursor: pointer;
	/* min-width: 50px;*/
	height: 50px; 
	display: flex;
	align-items: center;
	font-size: 36px;
	color:#e7ddc3;
	letter-spacing: 3px;
	font-weight: 700;
	border-radius: 50%;
}
.navbarAccount{
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbarAvatar{
	/*background: rgb(62, 68, 73);*/
	margin: 0 5px 0 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.navbarAvatar img{
	width:inherit;
	height: inherit;
	border-radius: 50%;
	object-fit: cover;
}
.navbarUsername{
	margin: 0 0 0 5px;
	font-size: 20px;
	color: #e7ddc3;
}
.navbarLink.auth {
	position: relative;
	cursor: pointer;
	font-weight: 700;
	font-size: 24px;
	color: #e7ddc3;
}
.navbarLink.auth:first-child{
	margin:0 5px 0 0;
}
.navbarLink.auth:last-child{
	margin:0 0 0 5px;
}

.navbarLink{
	margin:0 10px;
	position: relative;
	cursor: pointer;
	font-weight: 700;
	font-size: 24px;
	color: #e7ddc3;
}
.navbarLink:first-child{
	margin:0 5px 0 0;
}
.navbarLink:last-child{
	margin:0 0 0 5px;
}
.navbarLink:hover::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1.6px;
	color: #e7ddc3;
	top: auto;
	bottom: -2px;
	left: 0;
	transform: translate3d(0, -50%, 0);
}
.navbarLink.active{
	margin: 10px 0;
	font-size: 40px;
	text-align: center;
	animation: burgerTextActivation 0.3s forwards
}
@keyframes burgerTextActivation {
	0%{
		color: #e7ddc300;
	}
	100%{
		color: #e7ddc3;
	}
}
.navbarBurger{
	cursor: pointer;
	position: relative;
	display: none;
	width: 36px;
	height: 18px;
}
.navbarBurger span{
	position: absolute;
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
	background: #e7ddc3;
}
.navbarBurger span:first-child{
	top: 0;
}
.navbarBurger span:nth-child(2){
	top: 50%;
	transform: translate3d(0, -50%, 0);
}
.navbarBurger span:last-child{
	top: auto;
	bottom: 0;
}
/* .navbar__burger.active span{
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	left: 0;
	background: #e7ddc3;
} */
.navbarBurger.active span:nth-child(2){
	/* animation: BurgerRotateMiddleChild 0.5s forwards; */
	display: none;
}
.navbarBurger.active span:first-child{
	animation: BurgerRotateFirstChild 0.4s forwards;
	top: 8px;
}
.navbarBurger.active span:last-child{
	animation: BurgerRotateLastChild 0.4s forwards;
	top: auto;
	bottom: 8px;
}
/* @keyframes BurgerRotateMiddleChild {
	100%{
		width: 0;
		height: 0;
	}
} */
@keyframes BurgerRotateFirstChild {
	0%{
		top: 8px;
	}
	70%{
		top: 8px;
		transform:rotate(-70deg);
	}
	
	100%{
		top: 8px;
	transform:rotate(-45deg);
	}
}
@keyframes BurgerRotateLastChild {
	0%{
		top: auto;
		bottom: 8px;
	}
	70%{
		top: auto;
	bottom: 8px;
		transform:rotate(70deg);;
	}
	
	100%{
		top: auto;
	bottom: 8px;
	transform:rotate(45deg);;
	}
}


@media (max-width: 760px) {
	.navbarLink{
		margin:0 10px;
		font-weight: 700;
		font-size: 22px;
	}
	.navbarBurger{
		display: block;
	}
	.navbarLinks {
		display: none;
	}
	.navbarLinks.active {
		display: flex;
	}
}
@media (max-width: 660px) {

}
@media (max-width: 510px) {
	.navbarLink{
		margin:0 10px;
		font-weight: 700;
		font-size: 20px;
	}
	.navbarAvatar{
		width: 40px;
		height: 40px;
	}
	.navbarUsername{
		font-size: 16px;
	}
	.navbarLogo{
		height: 40px;
		margin: 0 10px 0 0; 
		font-size: 30px;
	}
	.navbar.active {
		padding: 10px 20px;
		animation: navbarActivation 0.3s forwards;
	}
	
}
@media (max-width: 410px) {
	.navbarLink{
		margin:0 10px;
		font-weight: 700;
		font-size: 18px;
	}
}
@media (max-width: 310px) {
	.navbarLink{
		margin:0 10px;
		font-weight: 700;
		font-size: 14px;
	}
}
