.messageBody {
	display: inline-block;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	line-height: 18px;
	padding: 0 5px;
	justify-content: flex-start;
}
.messageBody.name {
	display: inline-block;
	display: flex;
	flex-direction: row;
	text-align: left;
	line-height: 18px;
	margin: 5px 0 0 0;
	padding: 0 5px;
	justify-content: flex-start;
}
.messageBody.currentUser {
	align-items: flex-end;
	text-align: right;
}
.messageContent{
	margin: 0 0 0 40px;
	display: flex;
	flex-direction: column;
}
.messageContent.currentUser{
	margin: 0 40px 0 0;
	display: flex;
	flex-direction: column;
}
.messageContent.name {
	margin: 0;
	display: flex;
	flex-direction: column;
}
.messageBody.name.currentUser {
	justify-content: flex-end;
	align-items: flex-end;
	text-align: right;
}
.messageAvatar{
	margin: 0 5px;
	width: 30px;
	height:30px;
}
.messageAvatar img{
	z-index: 2;
	width:inherit;
	height: inherit;
	border-radius: 50%;
	object-fit: cover;
}
.messageName {
	margin: 0 0 5px 0;
	color: rgb(5, 81, 168);
	/*color: rgb(5, 81, 168);
	margin: 0 0 5px 0;
	border-radius: 16px;
	background: rgba(53, 17, 17, 0.205);
	max-width: 60%;
	padding: 10px;
	width: inherit;*/
	font-size: 18px;
	font-weight: 700;
}
.messageText {
	display:flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	color: rgb(43, 36, 36);
	margin: 2px 0 0 0;
	border-radius: 20px;
	background: rgba(53, 17, 17, 0.205);
	max-width: 60%;
	padding: 8px;
	font-size: 22px;
	font-weight: 500;
}
.messageMessage{
	display: flex;
	line-height: 26px;
	word-break:keep-all;
	justify-content: flex-start;
	text-align: left;
}
.messageMessage.currentUser{
	display: flex;
	justify-content: flex-end;
}
.messageTime{
	margin: 2px 0 0 0;
	font-weight: 500;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.384);
}

.messageText.currentUser {
	align-items: flex-end;
	margin: 2px 0 0 0;
}
.messageText.name.currentUser {
	align-items: flex-start;
	margin: 2px 0 0 0;
}
.messageText.name{
	flex-direction: row;
}
.messageName.currentUser {
}
.messageTime.currentUser{
	font-weight: 500;
	font-size: 14px;
}
