@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,900&display=swap");
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: arial;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 50px;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.page {
	
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
	position: relative;
}
.main-screen__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../img/IMG_0417.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	overflow-x: hidden;
	overflow-y: auto;
	justify-content: flex-start;
	background: #ffe6a72a;
	position: relative;
	height: calc(100vh - 60px);
	flex: 1 0 100%;
}
.container {
	overflow: hidden;
	max-width: 1080px;
	margin: 0 auto;
}
