.chat {
	margin: 60px 0 0 0;
	padding: 10px 0 0 0;
	
	height: calc(100vh - 70px);
}
.chat__case{
	position: relative;
	border-radius: 5px;
	/*background: #e7ddc37c;*/
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
	display: none;
}
.chat__case.active{
	display: flex;
}

.chat__loader-container {
	position: relative;
	width: 100%;
	height: 100px;
}
.chat__message-place {
	/*border-left: 1px solid #3a1803;*/
	background: #e7ddc37c;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	flex: 1 0 70%;
	height: 100%;
}
.chat__back {
	position: absolute;
	cursor: pointer;
	top: 7px;
	left: 10px;
	width: 36px;
	height: 36px;
	z-index: 5;
}
.chat__back span{
	position: absolute;
	top: 50%;
	width: 70%;
	height: 2px;
	background: #e7ddc3;
}
.chat__back span:first-child{
	
	top: 9px;
	transform: rotate(-40deg);
}
.chat__back span:last-child{
	
	top: auto;
	bottom: 9px;
	transform: rotate(40deg);
}
/* .chat__back::after {
	position: absolute;
	content: '';
	width: 0%;
	height: 1px;
	background: #e7ddc3;
	top: auto;
	left: 50%;
	bottom: 2px;
}
.chat__back:hover::after {
	width: 100%;
	left: 0;
	height: 1px;
	transition: 0.2s ease-in-out;
} */
.chat__message-place:hover .chat__list::-webkit-scrollbar {
	opacity: 0;
	/*-webkit-transition: all 0.5s;*/
}
.chat__wrapper{
	flex: 1 0 100%;
	height: calc(100% - 100px);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.chat__list {
	overflow-y: auto;
	overflow-x: auto;
	word-break: break-all;
}
.chat__list::-webkit-scrollbar {
	width: 0.1em;
}
.chat__list::-webkit-scrollbar,
.chat__list::-webkit-scrollbar-thumb {
	overflow: visible;
	border-radius: 4px;
}
.chat__list::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
.chat__list:hover {
	transition: 0.2s ease-in-out;
	box-shadow: 0 30px 2px inset rgba(0, 0, 0, 0.014), 0 -30px 2px inset rgba(0, 0, 0, 0.014);
}
.chat__info {
	position: relative;
	/*border-right: 1px solid #3a1803;*/
	background: #e7ddc37c;
	display: flex;
	flex-direction: column;
	padding: 20px 0 0 0;
	margin: 0 0 0 1px;
	flex: 1 0 29%;
}

.chat__form {
	background: rgba(211, 192, 192, 0);
	display: flex;
	align-items: center;
	flex: 1 0 100%;
	height: 50px;
}
.chat__users {
	font-size: 28px;
	font-weight: 700;
	margin: 10px;
}
.chat__users li {
	margin: 10px 0 0 0;
}
.chat__user{
	display: flex;
	align-items: center;
}
.chat__avatar{
	z-index: 3;
	width: 28px;
	height: 28px;
	margin: 0 8px 0 0;
	border-radius: 50%;
	object-fit: cover;
}
.chat__input {
	margin: 0 5px 0 10px;
	padding: 0 0 0 10px;
	border: solid 1px rgb(53, 17, 17);
	border-radius: 50px;
	font-weight: 700;
	font-size: 24px;
	height: 40px;
	width: 100%;
	background: transparent;
	color: rgb(61, 29, 29);
}
.chat__input::placeholder {
	color: #3b0d0d33;
}
.chat__input:focus {
	box-shadow: inset 0 0 20px rgba(56, 9, 9, 0.212);
}
.chat__button {
	margin: 0 10px 0 5px;
	border-radius: 50px;
	width: 100px;
	height: 40px;
	font-size: 24px;
	font-weight: 600;
	border: solid 1px rgb(53, 17, 17);
	background: transparent;
	color: rgb(61, 29, 29);
}
.chat__header {
	position: relative;
	flex: 1 0 100%;
	height: 50px;
	background: #3a1803;
}
.chat__button-more{
	display: flex;
	cursor: pointer;
	top: 13px;
	right: 10px;
	position: absolute;
	width: 24px;
	height: 24px;
}
.chat__button-more span{
	position: absolute;
	top: 0;
	left: 50%;
	width: 4px;
	border-radius: 50%;
	height: 4px;
	transform: translate3d(-50%, 0, 0);
	background: #3a1803;
}
.chat__button-more span:first-child{
	top: 0;
}
.chat__button-more span:nth-child(2){
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.chat__button-more span:last-child{
	top: auto;
	bottom:0;
}
.chat__button-more-message-place{
	display: none;
} 

.chat__button-more-info{
}
@media (max-width: 650px){
	.chat__button-more span{
		background: #e7ddc3;
	}
	.chat__info {
		display: none;
	}
	.chat__button-more-info{
		display: none;
	}
	.chat__button-more-message-place{
		display: flex;
	}  
}
